<div class="panel panel-success">
    <div class="panel-heading clearfix">
        <h2 class="panel-title pull-left">
            <span>{{ person.data.name.title }} {{ person.name.first }} {{ person.data.name.last }}</span>
            <!--<span>{{ person.data.name | json }}</span>-->
        </h2>
        <div class="pull-right">
            <button type="button"
                    class="btn btn-success"
                    ng-click="person.toggleSelectPerson( person.data )">
                <span>
                    <i ng-if="person.data.selected" class="fa fa-heart fa-lg"></i>
                    <i ng-if="!person.data.selected" class="fa fa-heart-o fa-lg"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{{ person.data.picture.thumbnail}}"
                     class="img-responsive left-block img-circle"
                     alt="Image">
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <p>Email: {{ person.data.email }}</p>
                <p>Phone: {{ person.data.phone }}</p>
            </div>
        </div>
    </div>
</div>
