<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <people-list
                    get-fn="main.addPerson"
                    people="main.people"
                    toggle-select-fn="main.togglePerson"
                    remove_selected_person_fn="main.removeSelectedPerson">
            </people-list>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <people-list
                    people="main.pickedPeople"
                    pick-fn="main.pickPerson"
                    toggle-select-fn="main.togglePerson"
                    deselect-fn="main.deselectPerson"
                    remove_selected_person_fn="main.removeSelectedPerson"
                    remove-fn="main.removeFirstPerson">
            </people-list>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-default"
                        ng-class="main.addPersonDisabled ? 'disabled' : ''"
                        ng-click="main.addPerson()">
                    <span>Add person</span>
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-class="main.removePersonDisabled ? 'disabled' : ''"
                        ng-click="main.removeFirstPerson()">
                    <span>Remove person</span>
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-class="main.removePersonDisabled ? 'disabled' : ''"
                        ng-click="main.pickPerson()">
                    <span>Pick person</span>
                </button>
            </div>
        </div>
    </div>
</div>
